xulieta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xulieta">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="outputFormatter" maxOccurs="unbounded" type="xs:string" />
                <xs:element name="parser" maxOccurs="unbounded" type="xs:string" />
                <xs:element name="validator" maxOccurs="unbounded" type="xs:string" />
                <xs:element name="exclude" maxOccurs="unbounded" type="xs:string" />
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
